@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&display=swap");

.personnage-carte {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  perspective: 1000px;
  cursor: pointer;
  width: 250px;
  height: 480px;
}

.flip-cards {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.face-avant,
.face-arriere {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
}

.face-arriere {
  transform: rotateY(180deg);
}

.est-retournee {
  transform: rotateY(-180deg);
}

.personnage-carte img {
  border: 3px solid transparent;
  border-radius: 20px 20px 5px 5px;
  margin: 0;
  border-left: 1px solid rgba(41, 41, 41, 0.489);
  border-right: 1px solid rgba(41, 41, 41, 0.489);

  transition: 0.5s;
}

.face-arriere img {
  /* border-bottom: 10px solid rgba(0, 94, 8, 0.5); */
}

.personnage-carte:hover img {
  box-shadow: 0 0 10px rgba(0, 223, 19, 0.5);
  border: 2px solid #256e00;
}

.degrader-blanc {
  background: linear-gradient(to right, #ffffff, #5a5a5a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description-container {
  margin-top: -5%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  background: #0b3900;
  border: 2px solid #256e00;
  border-radius: 5px 5px 20px 20px;
}

.description-perso {
  border-bottom: 10px solid rgba(0, 94, 8, 0.5);
  border-left: 1px solid rgba(41, 41, 41, 0.489);
  border-right: 1px solid rgba(41, 41, 41, 0.489);
}

.description-perso p {
  transition: 1s;
  padding: 10px;
  width: 250px;
  color: #ffffff;
}
