@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@900&family=Playfair+Display:ital,wght@1,700&display=swap");

.perso-section h2 {
  font-size: 20px;
  font-weight: 900;
}

.vert {
  /* mettre un dégradé a un txt */
  background: linear-gradient(to right, #008b0042, #00ae0c);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bataillon {
  margin-top: 7%;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 2rem;
  text-align: center;
  background-color: black;
  justify-content: center;
  border-radius: 10px;
}

.bataillon h1 {
  text-align: center;

  text-transform: uppercase;
}

/* .link {
  font-style: oblique;
  font-size: 20px;
  text-decoration: none;
  color: white;
} */

.bataillon p a {
  font-size: 20px;
  color: #b3b3b3;
  font-style: oblique;
  font-size: 20px;
  text-decoration: none;
}

.bataillon p {
  margin-top: -1%;
}

.img-bat {
  display: flex;
  justify-content: center;
  margin-bottom: 10%;
}

.img-bat img {
  margin-top: 3%;
  transition: transform 1s ease-out;

  border-radius: 10px;
}
.img-bat img:hover {
  /* Petit zoom */
  transform: scale(1.02);
  /* petit effet doré sur les bordures qd on passe dessus*/
  box-shadow: 0 0 10px rgba(0, 162, 0, 0.993);
}

.startContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 20px;
  background: rgba(11, 17, 27, 0.8);
  border-radius: 15px;
  border: 1px solid var(--rouge-snk);
  margin: 20px auto;
  max-width: 600px;
  margin-bottom: 5%;
  border: 1px solid green;
}

.introText {
  color: #ccc;
  font-size: 1.5rem;
  margin-bottom: 25px;
  text-align: center;
}

.startBtn {
  background: var(--rouge-snk);
  color: white;
  border: none;
  padding: 15px 35px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  transition:
    transform 0.3s,
    background 0.3s;
}

.startBtn:hover {
  background: #9a1616;
  transform: scale(1.05);
}

.startTxt {
  padding: 10px 50px;
  font-size: 1rem;
}

/*  */
.perso-section {
  background-color: black;
  color: white;
}

#perso-scroll {
  margin-top: 5%;
  margin-bottom: 2%;
  text-align: center;
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
}

.personnages-container {
  display: flex;
  justify-content: center;
  margin-left: 2%;
  gap: 130px;
  margin-top: 1%;
  border-radius: 10px;
  margin-bottom: 5%;
}

.membres-cles p {
  font-style: italic;
  font-family: "Playfair Display", serif;
  font-size: 1.5rem;
  text-align: center;
}

.degrader-vert {
  background: linear-gradient(to right, rgb(0, 226, 45), #007527);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#jeu-dans-carte {
  background-color: rgb(1, 50, 1);
  border: 1px solid rgba(5, 193, 11, 0.489);
  border-radius: 10px;
  padding: 20px;
  margin: 0 auto 40px;
  max-width: 500px;
  text-align: center;
  color: white;
}

#jeu-dans-carte h3 {
  /* a mettre en vert */
  color: #ffcc00;
  margin-bottom: 10px;
}

#jeu-dans-carte h2 {
  text-align: center;
  font-size: 20px;
  margin-bottom: 15px;
}

.btn-reponse-quiz {
  background: white;
  color: black;
  border: none;
  padding: 8px;
  margin: 5px 0;
  width: 100%;
  border-radius: 5px;
  font-weight: 300;
  cursor: pointer;
  transition: 0.5s;
}

.btn-reponse-quiz:hover {
  background-color: #51b668;
}

/* --- MESSAGE DE VICTOIRE FINAL --- */

.messageVictoireFinal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  animation: fadeIn 0.8s ease-out;
  backdrop-filter: blur(10px);
}

.messageVictoireFinal h1 {
  font-size: 4rem;
  color: #ffcc00; /* Jaune doré pour le trophée */
  text-shadow: 0 0 20px rgba(255, 204, 0, 0.6);
  margin-bottom: 20px;
}

.messageVictoireFinal p {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 40px;
}
.victoireImage img {
  border-radius: 50px;
  margin-top: 5%;
  height: 400px;
}

/* VICTOIRE BOUTONS */
.victoireBoutons {
  display: flex;
  gap: 20px;
}

.victoireBoutons button {
  padding: 15px 30px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  transition:
    transform 0.2s,
    background 0.3s;
}

.victoireBoutons button:first-child {
  background-color: #444;
  color: white;
}

.victoireBoutons button:last-child {
  background-color: #ffcc00;
  color: black;
}

.victoireBoutons button:hover {
  transform: scale(1.1);
}

/* --- Message de defaite --- */
.messageDefaite {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.95);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  animation: fadeIn 0.8s ease-out;
}

.messageDefaite h1 {
  font-size: 3.5rem;
  color: #b91c1c;
  margin-bottom: 20px;
  font-family: "Cinzel", serif;
}

.messageDefaite p {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 40px;
}

.defaiteImage img {
  margin-top: 5%;
  border: 50px;

  border-radius: 50px;
  height: 400px;
  transition: 0.5s;
}

.defaiteImage img:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgb(255, 0, 0);
}

.defaiteBoutons {
  display: flex;
  gap: 20px;
}

.defaiteBoutons button {
  padding: 15px 30px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: 0.3s;
}

.defaiteBoutons button:first-child {
  background: white;
  color: rgb(118, 1, 1);
}

.defaiteBoutons button:last-child {
  background: #ff0000;
  color: white;
}

.defaiteBoutons button:hover {
  transform: scale(1.1);
}

.chrono {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#btn-action {
  border: 0;
  border-radius: 10px;
  background: linear-gradient(to right, #00380c, #00b415);
  color: white;
  cursor: pointer;
  padding: 10px 50px;
  font-size: 1rem;
}

#btn-action:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.btnContainer {
  background: #074a00;
  color: white;
  border: 1px solid #4f963c;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.quizBtn {
  background: rgba(11, 17, 27, 0.8);
  color: white;
  border: 1px solid green;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 2%;
  cursor: pointer;
  transition: 0.3s;
}

.quizBtn:hover {
  background: green;
}
#affichage {
  margin-top: 2%;
  color: white;
  font-size: 1.5rem;
}

/* animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
