header {
  display: flex;
  position: fixed;
  background: #000000;
  z-index: 1000;
  top: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(85, 85, 85, 0.489);
  padding: 0 20px;
}

header img {
  margin-left: 30px;
  border-radius: 10px;
}

header img:hover {
  transition: transform 1s ease-out;
}

header img:hover {
  transform: scale(1.02);
}

header p {
  margin-left: 2%;
  color: black;
  font-size: 24px;
  font-weight: bold;
}

.nav li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-family: "Lato", sans-serif;
  font-weight: 1000;
}

.nav {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-left: -10%;
  padding: 10px;
}

.nav li a:hover {
  color: rgb(255, 0, 0);
  transition: color 0.5s;
}

.nav li a img {
  margin-left: 30%;
}
