@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap");

.vert {
  background: linear-gradient(to right, #008b0042, #00ae0c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.degrader-blanc {
  background: linear-gradient(to right, #ffffff, #5a5a5a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bataillon {
  margin-top: 10%;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  text-align: center;
  font-size: 2rem;
  background-color: black;
  border-bottom: 1px solid rgba(85, 85, 85, 0.489);
  border-radius: 10px;
}

.bataillon h1 {
  text-align: center;
  text-transform: uppercase;
}

.link {
  font-style: oblique;
  font-size: 20px;
  text-decoration: none;
  color: white;
}

.bataillon p a:hover {
  color: green;
}

.img-bat {
  display: flex;
  justify-content: center;
  margin-bottom: 10%;
}

.img-bat img {
  margin-top: 3%;
  transition: transform 1s ease-out;
  border-radius: 10px;
}

.img-bat img:hover {
  transform: scale(1.02);
  box-shadow: 0 0 10px rgba(0, 162, 0, 0.993);
}
