.seasonsMain {
  padding: 100px 20px;
  background-color: black;
  min-height: 100vh;
  color: white;
}

.pageTitle {
  margin-top: 7%;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  margin-bottom: 50px;
}

.pageTitle p {
  /* font-family: "Lato", sans-serif; */
  font-style: italic;
  font-weight: 900;
  font-size: 20px;
  color: #b3b3b3;
}

.bannerImage {
  display: block;
  margin: 0 auto 40px;

  height: 600px;
  width: auto;
  border-radius: 15px;
}

.degraderMarron {
  font-size: 60px;
  background: linear-gradient(to right, rgb(255, 255, 255), #f49f01);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* --- Image principal --- */

.mainPic {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
}

.mainPic img {
  border: 2px solid rgb(99, 79, 0);
  border-radius: 50px;
  transition: 0.5s;
  width: 800px;
  height: 400px;
}
.mainPic img:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(106, 94, 24, 0.993);
}

.seasonHeroImg:hover {
  transform: scale(1.03);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
}

.startContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 20px;
  background-color: rgb(50, 37, 0);
  border-radius: 15px;
  margin-bottom: 5%;
  margin: 20px auto;
  max-width: 600px;
  border: 2px solid rgb(126, 78, 2);
}

.startContainer button {
  background: #211700;
  border: 2px solid rgb(126, 78, 2);
}

.introText {
  color: #ccc;
  font-size: 1.5rem;
  margin-bottom: 25px;
  text-align: center;
}

.startTxt {
  padding: 10px 50px;
  font-size: 1rem;
}

.startBtn {
  background: rgba(11, 17, 27, 0.8);
  color: white;
  border: 2px solid rgb(126, 78, 2);
  cursor: pointer;
  transition: 0.3s;
  padding: 10px 40px;
  border-radius: 10px;
}

.quizBtn {
  background: #251a00;
  color: white;
  border: 2px solid #3e3520;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 2%;

  letter-spacing: 3px;
  font-weight: bold;
  box-shadow: 0 0 15px rgba(150, 82, 3, 0.2);
  position: relative;
  overflow: hidden;
}

/* Animation au survol des choix */

.quizBtn:hover {
  background: #965203;

  box-shadow: 0 0 25px rgba(150, 82, 3, 0.5);
}

.quizBtn::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -60%;
  width: 20%;
  height: 200%;
  background: rgba(255, 255, 255, 0.1);
  transform: rotate(15deg);
  transition: 0.5s;
}

.quizBtn:hover::after {
  left: 120%;
}
/* Système de Flip Card */
.seasonsGrid {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 10%;
}

.cardContainer {
  perspective: 1000px;
  height: 400px;
}

.flipCardInner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  transform-style: preserve-3d;
}

.isFlipped {
  transform: rotateY(180deg);
}

.faceAvant,
.faceArriere {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 50px;
  /* background: linear-gradient(to right, rgb(22, 35, 80), #022b56); */
  background-color: rgb(50, 37, 0);
  border: 1px solid rgb(126, 78, 2);
  overflow: hidden;
}

.faceAvant {
  display: flex;
  justify-content: center;
  align-items: center;
}

.faceArriere {
  transform: rotateY(180deg);
  display: flex;
}

/* Couleurs de bordures */
.borderBlue {
  border-color: #3b82f6;
}
.borderRed {
  border-color: #ef4444;
}
.borderGreen {
  border-color: #10b981;
}
.borderOrange {
  border-color: #f59e0b;
}

/* Contenu Quiz */
.quizContent {
  margin-top: -5%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.indiceBox h3,
p {
  font-size: 20px;
  text-align: center;
}

.optionsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin: 20px 0;
}
.optionsGrid button {
  transition: 0.5s;
}
.optionsGrid button:hover {
  background-color: rgb(131, 109, 48);
}

.quizBtn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.timeTxt {
  font-size: 30px;
  text-align: center;
  margin-bottom: 5%;
  color: rgb(220, 227, 6);
}

.chrono {
  font-size: 30px;
  margin-bottom: 5%;
}

.questionText {
  text-align: center;
  font-size: 20px;
  font-weight: 900;
  max-width: 550px;
}

.continueBtn {
  background-color: rgb(131, 109, 48);
  color: white;
  border: none;
  padding: 10px 30px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.btnValiderSaison {
  margin-top: 15px;
  padding: 10px;
  cursor: pointer;
  background-color: #e63946;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  width: 100%;
}

/* Face Arrière */
.seasonThumbnail {
  width: 60%;
  height: 100%;
}
.seasonThumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.seasonContent {
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
}

.seasonContent p:first-child {
  color: #9ca3af;
}

.seasonNumber {
  font-size: 40px;
  margin-bottom: 5%;
  font-weight: 900;
}

.seasonDescription {
  font-size: 20px;
  font-weight: 400;
  color: #c2c0c0;
  width: 450px;

  max-width: 400px;
}

.separator {
  margin-top: 5%;
  border: 1px solid rgb(86, 86, 86);
}

.seasonHighlight {
  margin-top: 5%;
  color: #5e5f5f;
  text-align: center;
  font-family: "Cinzel", serif;
  font-style: italic;
  font-weight: 900;
}

.startBtn {
  padding: 15px 40px;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 50px;
  cursor: pointer;
  margin-bottom: 3%;
}

/* Survol btn */
.startBtn {
  transition: transform 0.3s;
}

.startBtn:hover {
  background: rgb(111, 72, 0);
  transform: scale(1.05);
}

.success {
  color: #10b981;
}
.error {
  color: #ef4444;
}
.lockedContent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 1.5rem;
  opacity: 0.5;
}

/* --- FLOU SUR LES CARTES LOCKED --- */

.locked {
  filter: blur(8px);
  opacity: 0.6;
  pointer-events: none; /* empeche tt interact° av la carte */
  transition: all 0.5s ease;
}

.lockedOverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.activeQuiz {
  border: 2px solid #e63946;
  border-radius: 15px;
}

/* --- MESSAGE DE VICTOIRE FINAL --- */

.messageVictoireFinal {
  margin-top: -5%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  text-align: center;
  animation: fadeIn 0.8s ease-out;
  backdrop-filter: blur(10px);
}

.messageVictoireFinal h1 {
  margin-top: -10%;
  font-size: 3rem;
  color: #ffcc00; /* Jaune doré pour le trophée */
  text-shadow: 0 0 20px rgba(255, 204, 0, 0.6);
  margin-bottom: 20px;
}

.messageVictoireFinal p {
  margin-top: -2%;
  font-size: 1.5rem;
  color: white;
  margin-bottom: 10px;
}
.victoireImage img {
  border-radius: 50px;
  margin-top: 5%;
  height: 300px;
  transition: 0.5s;
}
.victoireImage img:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgb(255, 204, 0);
}

/* VICTOIRE BOUTONS */
.victoireBoutons {
  display: flex;
  gap: 20px;
}

.victoireBoutons button {
  padding: 15px 30px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  transition:
    transform 0.2s,
    background 0.3s;
}

.victoireBoutons button:first-child {
  background-color: #444;
  color: white;
}

.victoireBoutons button:last-child {
  background-color: #ffcc00;
  color: black;
}

.victoireBoutons button:hover {
  transform: scale(1.1);
}

/* --- Message de defaite --- */
.messageDefaite {
  margin-top: -18%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.95);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  text-align: center;
  animation: fadeIn 0.8s ease-out;
}

.messageDefaite h1 {
  font-size: 3rem;
  color: #b91c1c;
  margin-bottom: 20px;
  font-family: "Cinzel", serif;
}

.messageDefaite p {
  color: white;
  font-size: 1rem;
  margin-bottom: 40px;
}

.defaiteImage img {
  border-radius: 50px;
  margin-top: 10%;
  height: 300px;
  transition: 0.5s;
}

.defaiteImage img:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgb(255, 0, 0);
}

.defaiteBoutons {
  display: flex;
  gap: 20px;
}

.defaiteBoutons button {
  padding: 15px 30px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: 0.3s;
}

.defaiteBoutons button:first-child {
  background: white;
  color: rgb(122, 1, 1);
}

.defaiteBoutons button:last-child {
  background: #ff0000;
  color: white;
}

.defaiteBoutons button:hover {
  transform: scale(1.1);
}

/* animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
