@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap");

.degrader-jaune {
  background: linear-gradient(to right, #ffffff, #e7f47b);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-black {
  background-color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.titre {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  text-align: center;

  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 5%;
  margin-top: 5%;
}

.titre p {
  font-style: italic;
  font-size: 20px;
  color: #b3b3b3;
}

.face-avant {
  display: flex;
  justify-content: center;
}

.face-avant img {
  border-radius: 10px;
  transition: transform 1s ease-out;
}

.face-avant:hover img {
  transform: scale(1.03);
  box-shadow: 0 0 10px rgb(255, 0, 0);
}

.titans-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 60px 20px;
  color: #ffffff;
}

.founding-titan {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 10%;
  width: 100%;
}

.founding-titan img {
  background:
    linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)) padding-box,
    linear-gradient(to right, #868686, #767676, #ff0000, #a40000, #5b0000)
      border-box;
  transition: transform 1s ease-out;
  border-radius: 10px;
}

.founding-titan img:hover {
  transform: scale(1.03);
  box-shadow: 0 0 10px rgb(255, 255, 255);
}

.border-grey {
  margin: 5% 0;
  width: 100%;
  border-bottom: 1px solid rgba(85, 85, 85, 0.489);
}

.startContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 20px;
  background: rgba(11, 17, 27, 0.8);
  border-radius: 15px;
  border: 1px solid var(--rouge-snk);
  margin: 20px auto;
  max-width: 600px;
}

.introText {
  color: #ccc;
  font-size: 1.5rem;
  margin-bottom: 25px;
  text-align: center;
}

.startBtn {
  background: var(--rouge-snk);
  color: white;
  border: none;
  padding: 15px 35px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  transition:
    transform 0.3s,
    background 0.3s;
}

.startBtn:hover {
  background: #9a1616;
  transform: scale(1.05);
}

.startTxt {
  padding: 10px 50px;
  font-size: 1rem;
}

.quizBtn {
  background: #161f2d;
  color: white;
  border: 1px solid #b91c1c;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.quizBtn:hover {
  background: #b91c1c;
}

.titan-card {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 40px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  min-height: 320px;
}

.titan-card.reverse {
  flex-direction: row-reverse;
}

.card-visual {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.card-visual img {
  max-width: 100%;
  height: auto;
  transition: transform 1s ease-out;
  display: block;
  border-radius: 10px;
}

.visual-assaillant {
  background: radial-gradient(circle at center, #03a52c 0%, #000000 100%);
}
.visual-assaillant img:hover {
  transform: scale(1.03);
  box-shadow: 0 0 10px rgb(0, 114, 13);
}

.visual-colossal {
  background: radial-gradient(circle at center, #ff0000 0%, #000000 100%);
}
.visual-colossal img:hover {
  transform: scale(1.03);
  box-shadow: 0 0 10px rgb(255, 0, 0);
}

.visual-armored {
  background: radial-gradient(circle at center, #ffffff 0%, #887544 100%);
}
.visual-armored img:hover {
  transform: scale(1.03);
  box-shadow: 0 0 10px rgb(230, 213, 132);
}

.visual-bestial {
  background: radial-gradient(
    circle at center,
    rgb(128, 89, 0) 0%,
    #000000 100%
  );
}
.visual-bestial img:hover {
  transform: scale(1.03);
  box-shadow: 0 0 10px rgb(60, 42, 0);
}

.visual-marteau {
  background: radial-gradient(
    circle at center,
    rgb(18, 129, 213) 0%,
    #000000 100%
  );
}
.visual-marteau img:hover {
  transform: scale(1.03);
  box-shadow: 0 0 10px rgb(255, 255, 255);
}

.visual-feminin {
  background: radial-gradient(circle at center, #ffffff 0%, #6e6e6e 100%);
}
.visual-feminin img:hover {
  transform: scale(1.03);
  box-shadow: 0 0 10px #ffffff;
}

.card-content {
  flex: 1;
  background-color: #0d1321;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titan-name {
  font-family: "Cinzel", serif;
  font-size: 1.8rem;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 15px;
  letter-spacing: 1px;
}

.titan-holder {
  display: flex;
  flex-direction: column;
  font-size: 0.95rem;
  color: #8d99ae;
  margin-bottom: 20px;
}

.titan-desc {
  color: #bdc3c7;
  font-size: 1rem;
  line-height: 1.7;
  margin-bottom: 25px;
}

.titan-stats {
  list-style: none;
  margin-top: 10px;
}

.titan-stats li {
  font-size: 0.9rem;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
}

.stats-green {
  color: #00410a;
}
.stats-red {
  color: red;
}
.stats-beige {
  color: rgb(230, 213, 132);
}
.stats-brown {
  color: rgb(60, 42, 0);
}
.stats-cyan {
  color: rgb(122, 197, 255);
}
.stats-white {
  color: #ffffff;
}

.holder-green {
  color: #00410a;
}
.holder-beige {
  color: rgb(230, 213, 132);
}
.holder-red {
  color: red;
}
.holder-brown {
  color: rgb(60, 42, 0);
}
.holder-cyan {
  color: rgb(122, 197, 255);
}
.holder-white {
  color: #ffffff;
}

.titan-holder strong {
  color: #edf2f4;
}

.personnage-carte {
  perspective: 1200px;
  width: 100%;
  margin-bottom: 10%;
  position: relative;
}

.flip-cards {
  position: relative;
  width: 100%;
  height: 100%;
  transition:
    transform 0.8s,
    opacity 0.5s;
  transform-style: preserve-3d;
}

.face-avant,
.face-arriere {
  width: 100%;
  backface-visibility: hidden;
  border-radius: 12px;
}

.face-arriere {
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
  left: 0;
}

.est-retournee {
  transform: rotateY(180deg);
}

.others-list {
  text-align: center;
  color: #6c757d;
  font-size: 0.9rem;
  margin-top: 40px;
}

.chrono {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5%;
}

#btn-action {
  width: 10%;
  height: 50px;
  font-size: 20px;
  border: 0;
  border-radius: 10px;
  background: linear-gradient(to right, #380000, #b40000);
  color: white;
  cursor: pointer;
}

#affichage {
  margin-top: 2%;
  font-size: 1.5rem;
}

.jeu-dans-carte {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #3f0000;
  color: white;
  padding: 15px;
  border-radius: 10px;
  box-sizing: border-box;
  border: 1px solid red;

  text-align: center;
}

.jeu-dans-carte h3 {
  color: #ff4444;
  margin-bottom: 10px;
}

.indice {
  margin-top: 10%;
}

.quizContainer {
  margin-top: 10%;
}

/* centrer la main qst */
.quizContainer h2 {
  /* min-width: 200px;
  max-width: 400px; */
  text-align: center;

  font-size: 20px;
  font-weight: 900;
}

.options-boutons-titans {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.btn-reponse-quiz {
  background: white;
  color: black;
  border: none;
  padding: 8px;
  width: 100%;
  border-radius: 5px;
  font-weight: 300;
  cursor: pointer;
  transition: 0.5s;
}

.btn-reponse-quiz:hover {
  background-color: #db3838;
}

.feedback-mini-titans {
  margin-top: 15px;
  font-weight: bold;
  font-size: 1.2rem;
}

/* btn continuer */
.btn-continuer-titan {
  display: block;

  margin: 20px auto;
  margin-top: 10%;
  margin-left: 0px;

  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: 900;
  cursor: pointer;
  background-color: #ff0000;
  color: white;
  border: none;
  border-radius: 5px;
}

.page-suivante a {
  text-decoration: none;
  color: black;
}

/* MSG DE WIN*/
.message-victoire-final {
  position: fixed; /* passe au dessus de tout */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* centrage */
  background: linear-gradient(135deg, #000000 0%, #333 100%);
  padding: 3rem;
  border-radius: 15px;
  border: 2px solid #ffcc00;
  text-align: center;
  box-shadow: 0 0 50px rgba(255, 204, 0, 0.3);
  z-index: 1000;
  width: 90%;
  max-width: 600px;
}

/* titre felitations*/
.message-victoire-final h1 {
  color: #ffcc00;
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* les btns */
.victoireBoutons {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 2rem;
}

.victoireBoutons button {
  padding: 12px 25px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  transition:
    transform 0.2s,
    background 0.3s;
  border: none;
}

.victoireBoutons button:hover {
  transform: scale(1.05);
}

/* MESSAGE DEFAITE */

.messageDefaite {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.95);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  text-align: center;
  animation: fadeIn 0.8s ease-out;
}

.defaiteTexte {
  margin-bottom: 2%;
}

.defaiteBoutons {
  display: flex;
  gap: 20px;
}

.defaiteBoutons button {
  padding: 15px 30px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  transition:
    transform 0.2s,
    background 0.3s;
}

.defaiteBoutons button:first-child {
  background-color: #444;
  color: white;
}

.defaiteBoutons button:last-child {
  background-color: #ffcc00;
  color: black;
}

.defaiteBoutons button:hover {
  transform: scale(1.1);
}

.losePic img {
  border: 50px;
  margin-top: 20px;
  border-radius: 50px;
  height: 600px;
}

@media (max-width: 768px) {
  .titan-card,
  .titan-card.reverse {
    flex-direction: column;
  }
  #btn-action {
    width: 40%;
  }
}

/* animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
